.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    background-color:#b2c2bf;
    z-index: 100;
  }
  
  .sidebar h1 {
    text-align: center;
    margin-top: 5%;
    
  }
  
  .sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
 .sidebar ul li a {
  display: block;
  padding: 10px;
  text-align: center;
  color: #3b3a30;
  border: 1px solid #eaece5; 
  border-radius: 5px; 
  margin-bottom: 15px; 
}

.sidebar ul li a:hover {
  background-color: #e0e0e0;
}
  .sidebar ul li:first-child {
  margin-top: 20px; /* הוספת רווח מלמעלה לטאב הראשון */
}